* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.palit {
    width: 10%;
    padding-top: 2px;
    padding-left: 5px;
    float: left;
}
.user {
    width: 30px;
    padding-right: 0px;
}
.userinfo a {
    float: right;
    margin-right: 30px;
    padding-left: 20px;
    font-size: 20px;
    color: black;
    font-weight: bold;
}
.navbar {
    height: 60px;
    padding-top: 0px;
    padding-bottom: 0px;
}
#navbarNav {
    justify-content: center;
    padding: 0px;
    margin: 0px;
}
.nav-item {
    padding: 10px 60px;
}
.nav-item:hover, .nav-item:active {
    background-color: rgb(158, 158, 158);
    color: black;
}
.sidebar {
    margin: 30px;
    width: 300px;
    height: 90%;
    border-right: 1px solid black;
}
h5 a{
    color: black;
    text-decoration: none;
}
h5 a:hover {
    font-weight: bold;
    color: black;
}
.food {
    display: flex;
}
span {
    font-size: 23px;
    font-weight: bolder;
    text-decoration: underline;
}
.card {
    margin-right: 0px;
}
div.card {
    margin-right: 0px;
    width: 300px;
    padding-right: 0px;
}
.card-body {
    width: 130px;
}
h5.card-title {
    width: 200px;
}
p.card-text {
    width: 250px;
}
div.col.mb-4.card-space {
    padding: 0px;
    margin: 0px;
    width: 250px;
}
.row {
    margin-top: 30px;
}
.feature {
    padding: 10px;
    margin-top: 20px;
    margin-left: 40px;
}
.contact-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.contact-me p{
    color:black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    margin: 20px;
    padding-top: 30px;
    border-top: 4px dashed black;
    width: 90%;
    text-align: center;
}
.social-icons2 a{
    width:40px;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:black;
    margin: 0px 10px;
    border-radius: 50%;
}
.social-icons2 {
    display: flex;
    padding-left: 28px;
}
.contact-me .social-icons2 i{
    color:white;
}

footer p {
    font-family: cursive;
    font-size: 16px;
    color:#ffffff;
    width:600px;
    text-align: center;
    letter-spacing: 3px;
}
footer { 
    height:100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 15px;
    width: 100%;
}
.copyright {
    color:#8a8a8a;
    font-size: 12px;
    position: absolute;
    left:50%;
    bottom:10px;
    transform: translateX(-50%);
}